{% extends 'website/base.html' %}

{% block content %}
<h1 style="text-align:left;float:left;"><a href="{% url 'assassin_build' %}">Go back to all assassin builds</h1></a> <h4 style="text-align:right;float:right;"><a href="{% url 'assassin_new' %}">Add your new assassin build here!</a></h4>
<hr style="clear:both;"/>
  <div class="build">
    <h6>by {{ assassinbuild.author }}</h6>
    <h1>{{ assassinbuild.title }}</h1>
    <p>{{ assassinbuild.text|linebreaksbr }}</p>
    <h6><a href="{% url 'deleteassassin' pk=assassinbuild.pk %}">Delete this build</h6>
  </div>
{% endblock content %}
