{% load staticfiles %}

<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="SMITE BUILDS" name="description">
  <meta content="s163757" name="author">
  <title>SMITE God Builds</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/small-business.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" style="color: white;">Logged in as: {% if user.is_authenticated %}
                 <a class="navbar-brand" style="color: white;">{{ user.get_username }}</a>
                 <a class="navbar-brand" href="{% url 'logout_view' %}" style="margin-left: 10px; color: #868e96;">Log out</a>
                 {% else %}
                 <a class="navbar-brand" style="color: white;">Not logged in</a>
                 {% endif %}
</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login_view' %}">Log in</a>
          </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="{% static 'img/wallpaper_smite.jpg' %}" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
        <h1>SMITE God Builds</h1>
        <p>Welcome to this site! On this website, you can add and delete SMITE builds per god clas, as well as view other builds!</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
    {% block content %}
    {% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- JavaScript form -->
  <script src="{% static 'js/form.js' %}"></script>

</body>

</html>
