{% extends 'website/base.html' %}

{% block content %}
  <h1 style="text-align:left;float:left;">Mage builds</h1> <h4 style="text-align:right;float:right;"><a href="{% url 'mage_new' %}">Add your new mage build here!</a></h4>
  <hr style="clear:both;"/>
  {% for magebuild in magebuilds %}
      <h3><a class="buildname" href="{% url 'magebuild_detail' pk=magebuild.pk %}">{{ magebuild.title }}</a></h3>
      <h6>by {{ magebuild.author|linebreaksbr }}</h6>
      <hr/>
  {% endfor %}
  {% endblock content %}
